[init]
	templateDir = ~/.config/git/template/
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = benwalk
	email = ben.walker.dev@gmail.com
[push]
	default = tracking
[alias]
	alias = config --get-regexp '^alias\\.'
	br = branch -vv
	# branch-clean = !git refresh && git branch --merged main | grep -v "main" | xargs git branch -d
	ci = commit
	co = checkout
	current = symbolic-ref --short HEAD
  logp = log --graph --pretty='%C(auto)%h %d %s %C(bold blue)%cr%Creset' --abbrev-commit -n 10
	nb = ! "nb() { git refresh $1 && git co -b $2; }; nb"
	open-repo = "!f() { \
		base=`(git remote get-url origin | awk '{print substr($0,5,length()-8)}' | sed 's/:/\\//')`; \
		open https://$base;  }; f"
	open-pr = ! "opr() { \
		base=`(git remote get-url origin | awk '{print substr($0,5,length()-8)}' | sed 's/:/\\//')`; \
		branch=`(git symbolic-ref --short HEAD)`;  \
		open https://$base/compare/$branch?expand=1;  }; opr"
	pup = !git push --set-upstream origin $(git current)
	refresh = ! "refresh() { git co $1 && git update --prune; }; refresh"
	s = status
	save = !git add -A && git commit -m 'SAVEPOINT'
	undo-commit = reset --soft HEAD^
	unstage = reset HEAD
  update = pull --rebase
[core]
	excludesfile = /Users/benwalker/.gitignore_global
